body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.image-medium {
    width: 400px;
    height: auto;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.image-content {
    flex: 1;
}

.text-content {
    flex: 1;
    padding-right: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensures the content is centered vertically */
}